<table *ngIf="paises.length > 0" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="animate__animated animate__fadeIn" *ngFor="let pais of paises; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img
          [src]="pais.flags.svg"
          alt="Bandera"
          width="50"
          class="small-flag"
        />
      </td>
      <td>{{ pais.name.common }} {{ pais.capital ? pais.capital[0] : "" }}</td>
      <td>{{ pais.population | number }}</td>
      <td><a [routerLink]="['/pais', pais.cca2]">Ver...</a></td>
    </tr>
  </tbody>
</table>
